<mat-toolbar color="">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Flashcards</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/add-question'"> Add Question </a>
      <a mat-button [routerLink]="'/question-bank'"> Question Bank </a>
      <a mat-button [routerLink]="'/study-mode'"> Practice </a>
      <span>
        <a mat-button > Logout </a>
      </span>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Flashcards helps you easily practice your skills</span>
    </mat-toolbar-row>
    
</mat-toolbar>
